@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}

<div class="text-center">
  <h1 class="display-4">Animal Shelter</h1>
  <h2>What type of animal would you like to adopt?</h2>
  <button><a href='/animals'>Search</a></button>

  <h2>Would you like to add a pet for adoption?</h2>
  <button><a href='/animals/new'>Add</a></button>
</div>
